In [13]:
import requests

import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
import time
import datetime

import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import plotly.express as px
import numpy as np
import pandas as pd
import statsmodels.api as sm

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import FunctionTransformer
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

import plotly.offline as py
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.figure_factory as ff
from scipy.stats import bernoulli

import numpy as np
from scipy import stats

In [16]:
asth=pd.read_csv('ASTHMA.csv')
asth.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'Topic', 'Question', 'Response', 'DataValueUnit', 'DataValueType',
       'DataValue', 'DataValueAlt', 'DataValueFootnoteSymbol',
       'DatavalueFootnote', 'LowConfidenceLimit', 'HighConfidenceLimit',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'StratificationCategory3', 'Stratification3',
       'ResponseID', 'LocationID', 'TopicID', 'QuestionID', 'DataValueTypeID',
       'StratificationCategoryID1', 'StratificationID1',
       'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3'],
      dtype='object')

In [33]:
asth["StratificationCategory1"].unique()

array(['Gender', 'Race/Ethnicity', 'Overall'], dtype=object)

In [98]:
def data_clean(df):
    a=df["StratificationCategory"]
    b=df["Stratification"]
    stratification_gender=b.array.copy()
    stratification_race=b.array.copy()
    i=0
    while i<len(a):
        if a.array[i]=="Race/Ethnicity":
            stratification_race[i]==b.array[i]
        else:
            stratification_race[i]=0
        if a.array[i]=="Gender":
            stratification_gender[i]==b.array[i]
        else:
            stratification_gender[i]=0
        i=i+1
    df["Stratification_gender"]=stratification_gender
    df["Stratification_race"]=stratification_race

In [116]:
asth["Question"].unique()

array(['Asthma mortality rate',
       'Emergency department visit rate for asthma',
       'Hospitalizations for asthma',
       'Current asthma prevalence among adults aged >= 18 years',
       'Asthma prevalence among women aged 18-44 years',
       'Influenza vaccination among noninstitutionalized adults aged 18-64 years with asthma',
       'Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma',
       'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with asthma',
       'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma'],
      dtype=object)

# q1:'Asthma mortality rate'

In [118]:
asthma_cleaned = asth[['YearStart','LocationDesc','Question','DataValue','StratificationCategory1','Stratification1']]
asthma_cleaned = asthma_cleaned[asthma_cleaned['Question']=='Asthma mortality rate'].drop(['Question'],axis=1)
asthma_cleaned = asthma_cleaned[(asthma_cleaned['YearStart']>=2011)&(asthma_cleaned['YearStart']<=2014)]
asthma_cleaned = asthma_cleaned.rename(columns={'YearStart':'Year','LocationDesc':'State','DataValue':'Prevalance','StratificationCategory1':'StratificationCategory','Stratification1':'Stratification'})
asthma_sorted = asthma_cleaned.sort_values(by=['Year','State']).fillna(0)
data_clean(asthma_sorted)
asthma_sorted1=asthma_sorted[["Year","State","Prevalance","Stratification_gender","Stratification_race"]]
asthma_sorted1

,Year,State,Prevalance,Stratification_gender,Stratification_race
115,2011,Alabama,0.0,Male,0
165,2011,Alabama,0.0,0,Asian or Pacific Islander
609,2011,Alabama,36.0,0,0
724,2011,Alabama,0.0,0,Hispanic
772,2011,Alabama,15.7,0,"Black, non-Hispanic"
...,...,...,...,...,...
8844,2014,Wyoming,0.0,Male,0
9155,2014,Wyoming,0.0,0,"White, non-Hispanic"
9269,2014,Wyoming,0.0,0,"White, non-Hispanic"
9496,2014,Wyoming,0.0,0,"Black, non-Hispanic"
9507,2014,Wyoming,0.0,0,Asian or Pacific Islander

# q2:'Emergency department visit rate for asthma'

In [119]:
asthma_cleaned = asth[['YearStart','LocationDesc','Question','DataValue','StratificationCategory1','Stratification1']]
asthma_cleaned = asthma_cleaned[asthma_cleaned['Question']=='Emergency department visit rate for asthma'].drop(['Question'],axis=1)
asthma_cleaned = asthma_cleaned[(asthma_cleaned['YearStart']>=2011)&(asthma_cleaned['YearStart']<=2014)]
asthma_cleaned = asthma_cleaned.rename(columns={'YearStart':'Year','LocationDesc':'State','DataValue':'Prevalance','StratificationCategory1':'StratificationCategory','Stratification1':'Stratification'})
asthma_sorted = asthma_cleaned.sort_values(by=['Year','State']).fillna(0)
data_clean(asthma_sorted)
asthma_sorted2=asthma_sorted[["Year","State","Prevalance","Stratification_gender","Stratification_race"]]
asthma_sorted2

,Year,State,Prevalance,Stratification_gender,Stratification_race
10068,2013,Alabama,0.0,0,0
10280,2013,Alabama,0.0,Female,0
12096,2013,Alabama,0.0,0,0
12150,2013,Alabama,0.0,Female,0
13226,2013,Alabama,0.0,Male,0
...,...,...,...,...,...
15435,2014,Wyoming,0.0,0,"Black, non-Hispanic"
15594,2014,Wyoming,0.0,0,"White, non-Hispanic"
15660,2014,Wyoming,0.0,0,American Indian or Alaska Native
15834,2014,Wyoming,0.0,0,Asian or Pacific Islander
16003,2014,Wyoming,0.0,Male,0

# q3:'Hospitalizations for asthma'

In [120]:
asthma_cleaned = asth[['YearStart','LocationDesc','Question','DataValue','StratificationCategory1','Stratification1']]
asthma_cleaned = asthma_cleaned[asthma_cleaned['Question']=='Hospitalizations for asthma'].drop(['Question'],axis=1)
asthma_cleaned = asthma_cleaned[(asthma_cleaned['YearStart']>=2011)&(asthma_cleaned['YearStart']<=2014)]
asthma_cleaned = asthma_cleaned.rename(columns={'YearStart':'Year','LocationDesc':'State','DataValue':'Prevalance','StratificationCategory1':'StratificationCategory','Stratification1':'Stratification'})
asthma_sorted = asthma_cleaned.sort_values(by=['Year','State']).fillna(0)
data_clean(asthma_sorted)
asthma_sorted3=asthma_sorted[["Year","State","Prevalance","Stratification_gender","Stratification_race"]]
asthma_sorted3

,Year,State,Prevalance,Stratification_gender,Stratification_race
17486,2013,Alabama,0.0,0,0
20553,2013,Alabama,0.0,0,0
22449,2013,Alabama,0.0,0,0
17087,2013,Alaska,0.0,0,0
20492,2013,Alaska,0.0,0,0
...,...,...,...,...,...
21090,2014,Wyoming,0.0,0,Asian or Pacific Islander
21517,2014,Wyoming,0.0,Female,0
21611,2014,Wyoming,0.0,0,"White, non-Hispanic"
22021,2014,Wyoming,0.0,0,Asian or Pacific Islander
22176,2014,Wyoming,0.0,Male,0

# q4:'Current asthma prevalence among adults aged >= 18 years'

In [121]:
asthma_cleaned = asth[['YearStart','LocationDesc','Question','DataValue','StratificationCategory1','Stratification1']]
asthma_cleaned = asthma_cleaned[asthma_cleaned['Question']=='Current asthma prevalence among adults aged >= 18 years'].drop(['Question'],axis=1)
asthma_cleaned = asthma_cleaned[(asthma_cleaned['YearStart']>=2011)&(asthma_cleaned['YearStart']<=2014)]
asthma_cleaned = asthma_cleaned.rename(columns={'YearStart':'Year','LocationDesc':'State','DataValue':'Prevalance','StratificationCategory1':'StratificationCategory','Stratification1':'Stratification'})
asthma_sorted = asthma_cleaned.sort_values(by=['Year','State']).fillna(0)
data_clean(asthma_sorted)
asthma_sorted4=asthma_sorted[["Year","State","Prevalance","Stratification_gender","Stratification_race"]]
asthma_sorted4

,Year,State,Prevalance,Stratification_gender,Stratification_race
22732,2011,Alabama,8.0,0,0
22774,2011,Alabama,0.0,0,"Multiracial, non-Hispanic"
22938,2011,Alabama,0.0,0,Hispanic
22997,2011,Alabama,0.0,0,"Multiracial, non-Hispanic"
23067,2011,Alabama,8.0,0,0
...,...,...,...,...,...
34260,2014,Wyoming,0.0,0,"Other, non-Hispanic"
34442,2014,Wyoming,0.0,0,"Black, non-Hispanic"
36032,2014,Wyoming,10.5,Female,0
36204,2014,Wyoming,18.1,0,"Multiracial, non-Hispanic"
36829,2014,Wyoming,8.1,0,"White, non-Hispanic"

# q5: 'Asthma prevalence among women aged 18-44 years'

In [123]:
asthma_cleaned = asth[['YearStart','LocationDesc','Question','DataValue','StratificationCategory1','Stratification1']]
asthma_cleaned = asthma_cleaned[asthma_cleaned['Question']=='Asthma prevalence among women aged 18-44 years'].drop(['Question'],axis=1)
asthma_cleaned = asthma_cleaned[(asthma_cleaned['YearStart']>=2011)&(asthma_cleaned['YearStart']<=2014)]
asthma_cleaned = asthma_cleaned.rename(columns={'YearStart':'Year','LocationDesc':'State','DataValue':'Prevalance','StratificationCategory1':'StratificationCategory','Stratification1':'Stratification'})
asthma_sorted = asthma_cleaned.sort_values(by=['Year','State']).fillna(0)
data_clean(asthma_sorted)
asthma_sorted5=asthma_sorted[["Year","State","Prevalance","Stratification_gender","Stratification_race"]]
asthma_sorted5

,Year,State,Prevalance,Stratification_gender,Stratification_race
24127,2011,Alabama,9.0,0,0
28516,2011,Alabama,6.4,0,"Black, non-Hispanic"
28717,2011,Alabama,0.0,0,Hispanic
31511,2011,Alabama,0.0,0,"Multiracial, non-Hispanic"
33388,2011,Alabama,8.4,0,"White, non-Hispanic"
...,...,...,...,...,...
28045,2014,Wyoming,0.0,0,"Black, non-Hispanic"
28976,2014,Wyoming,11.3,0,0
30900,2014,Wyoming,10.0,0,"White, non-Hispanic"
31083,2014,Wyoming,0.0,0,Hispanic
35671,2014,Wyoming,0.0,0,"Multiracial, non-Hispanic"

# q6: 'Influenza vaccination among noninstitutionalized adults aged 18-64 years with asthma'

In [124]:
asthma_cleaned = asth[['YearStart','LocationDesc','Question','DataValue','StratificationCategory1','Stratification1']]
asthma_cleaned = asthma_cleaned[asthma_cleaned['Question']=='Influenza vaccination among noninstitutionalized adults aged 18-64 years with asthma'].drop(['Question'],axis=1)
asthma_cleaned = asthma_cleaned[(asthma_cleaned['YearStart']>=2011)&(asthma_cleaned['YearStart']<=2014)]
asthma_cleaned = asthma_cleaned.rename(columns={'YearStart':'Year','LocationDesc':'State','DataValue':'Prevalance','StratificationCategory1':'StratificationCategory','Stratification1':'Stratification'})
asthma_sorted = asthma_cleaned.sort_values(by=['Year','State']).fillna(0)
data_clean(asthma_sorted)
asthma_sorted6=asthma_sorted[["Year","State","Prevalance","Stratification_gender","Stratification_race"]]
asthma_sorted6

,Year,State,Prevalance,Stratification_gender,Stratification_race
25745,2011,Alabama,41.2,0,0
25998,2011,Alabama,0.0,0,Hispanic
26611,2011,Alabama,0.0,0,"Other, non-Hispanic"
26765,2011,Alabama,40.3,0,"Black, non-Hispanic"
28297,2011,Alabama,45.5,Female,0
...,...,...,...,...,...
47116,2014,Wyoming,0.0,0,"Black, non-Hispanic"
47204,2014,Wyoming,39.0,0,0
48193,2014,Wyoming,0.0,0,"Multiracial, non-Hispanic"
48964,2014,Wyoming,0.0,0,Hispanic
50085,2014,Wyoming,0.0,0,"Black, non-Hispanic"

# q7: 'Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma'

In [125]:
asthma_cleaned = asth[['YearStart','LocationDesc','Question','DataValue','StratificationCategory1','Stratification1']]
asthma_cleaned = asthma_cleaned[asthma_cleaned['Question']=='Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma'].drop(['Question'],axis=1)
asthma_cleaned = asthma_cleaned[(asthma_cleaned['YearStart']>=2011)&(asthma_cleaned['YearStart']<=2014)]
asthma_cleaned = asthma_cleaned.rename(columns={'YearStart':'Year','LocationDesc':'State','DataValue':'Prevalance','StratificationCategory1':'StratificationCategory','Stratification1':'Stratification'})
asthma_sorted = asthma_cleaned.sort_values(by=['Year','State']).fillna(0)
data_clean(asthma_sorted)
asthma_sorted7=asthma_sorted[["Year","State","Prevalance","Stratification_gender","Stratification_race"]]
asthma_sorted7

,Year,State,Prevalance,Stratification_gender,Stratification_race
37954,2011,Alabama,70.6,Female,0
37984,2011,Alabama,0.0,0,Hispanic
39079,2011,Alabama,0.0,0,"Other, non-Hispanic"
39260,2011,Alabama,74.1,0,0
40446,2011,Alabama,0.0,0,"Multiracial, non-Hispanic"
...,...,...,...,...,...
45828,2014,Wyoming,0.0,0,Hispanic
47912,2014,Wyoming,76.9,Female,0
48365,2014,Wyoming,70.9,0,0
49996,2014,Wyoming,64.0,Male,0
50062,2014,Wyoming,0.0,0,"Multiracial, non-Hispanic"

# q8:'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with asthma'

In [126]:
asthma_cleaned = asth[['YearStart','LocationDesc','Question','DataValue','StratificationCategory1','Stratification1']]
asthma_cleaned = asthma_cleaned[asthma_cleaned['Question']=='Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with asthma'].drop(['Question'],axis=1)
asthma_cleaned = asthma_cleaned[(asthma_cleaned['YearStart']>=2011)&(asthma_cleaned['YearStart']<=2014)]
asthma_cleaned = asthma_cleaned.rename(columns={'YearStart':'Year','LocationDesc':'State','DataValue':'Prevalance','StratificationCategory1':'StratificationCategory','Stratification1':'Stratification'})
asthma_sorted = asthma_cleaned.sort_values(by=['Year','State']).fillna(0)
data_clean(asthma_sorted)
asthma_sorted8=asthma_sorted[["Year","State","Prevalance","Stratification_gender","Stratification_race"]]
asthma_sorted8

,Year,State,Prevalance,Stratification_gender,Stratification_race
37746,2011,Alabama,0.0,0,"Other, non-Hispanic"
38642,2011,Alabama,42.5,Male,0
39608,2011,Alabama,0.0,0,Hispanic
39619,2011,Alabama,37.4,Female,0
41162,2011,Alabama,39.6,0,0
...,...,...,...,...,...
58536,2014,Wyoming,45.1,0,"White, non-Hispanic"
60532,2014,Wyoming,0.0,0,Hispanic
61101,2014,Wyoming,0.0,0,"Black, non-Hispanic"
61579,2014,Wyoming,0.0,0,"Multiracial, non-Hispanic"
62417,2014,Wyoming,44.1,0,0

# q9: 'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma'

In [127]:
asthma_cleaned = asth[['YearStart','LocationDesc','Question','DataValue','StratificationCategory1','Stratification1']]
asthma_cleaned = asthma_cleaned[asthma_cleaned['Question']=='Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma'].drop(['Question'],axis=1)
asthma_cleaned = asthma_cleaned[(asthma_cleaned['YearStart']>=2011)&(asthma_cleaned['YearStart']<=2014)]
asthma_cleaned = asthma_cleaned.rename(columns={'YearStart':'Year','LocationDesc':'State','DataValue':'Prevalance','StratificationCategory1':'StratificationCategory','Stratification1':'Stratification'})
asthma_sorted = asthma_cleaned.sort_values(by=['Year','State']).fillna(0)
data_clean(asthma_sorted)
asthma_sorted9=asthma_sorted[["Year","State","Prevalance","Stratification_gender","Stratification_race"]]
asthma_sorted9

,Year,State,Prevalance,Stratification_gender,Stratification_race
50514,2011,Alabama,0.0,0,"Black, non-Hispanic"
50649,2011,Alabama,0.0,0,"Other, non-Hispanic"
51442,2011,Alabama,0.0,Male,0
51974,2011,Alabama,0.0,0,"Multiracial, non-Hispanic"
52027,2011,Alabama,84.6,Female,0
...,...,...,...,...,...
64156,2014,Wyoming,0.0,0,"Multiracial, non-Hispanic"
64189,2014,Wyoming,85.4,0,0
64229,2014,Wyoming,85.3,Female,0
64473,2014,Wyoming,0.0,0,"Multiracial, non-Hispanic"
64710,2014,Wyoming,0.0,0,"Black, non-Hispanic"